<h2>Add New Person</h2>

<form method="post" action="/create">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required>

</form>
    <button type="submit">Create</button>