{% extends 'base.html' %}

{% block content %}
    <div class="body">
        <!--headings-->
        <h1>Your Profile</h1>
        <!--end headings-->

        <!--profile details container TODO-->
        <div class="note-container">
            <h2>
                {{ profile.get_full_name }}
                {% if not profile.image_url %}
                    <img src="https://www.nicepng.com/png/detail/249-2492113_work-profile-user-default-female-suit-comments-default.png"/>
                {% else %}
                    <img src="{{ profile.image_url }}"/>
                {% endif %}
            </h2>
            <p>Age: {{ profile.age }}</p>
            <div>
                <p>All notes: {{ notes }}</p>
            </div>
            <div class="right">
                <a class="button delete" href="{% url 'profile delete' %}">Delete</a>
            </div>
        </div>
        <!--end profile details container-->
    </div>
{% endblock %}