body {
  margin: 100px 0px;
  background-color: lightgray;
}

body,
ul,
li {
  display: flex;
  justify-content: center;
}

.gallery ul {
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery ul li {
  background-color: #fff;
  border: 10px solid black;
  padding: 20px;
  justify-content: center;
  box-shadow: inset 0px 0px 10px black;
}

.gallery ul li img {
  aspect-ratio: calc(9 / 16);
  object-fit: contain;
}
