<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cubicle</title>
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/create">Create</a></li>

      </ul>
    </header>

    {{{body}}}
  </div>

  </main>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>