<h2>Movie creation</h2>

<form action="/create" method="POST" >
  <label for="title">Movie title:</label><br>
  <input type="text" id="title" name="title" ><br>

  <label for="year">Movie year:</label><br>
  <input type="number" id="year" name="year"><br><br>

  <label for="director">Movie director:</label><br>
  <input type="text" id="director" name="director"><br><br>


  <input type="submit" value="Submit">
</form>