<h1>Home page</h1>
<div class="about">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis voluptas suscipit, quia ipsam repellendus
        nesciunt sed! Reprehenderit modi veniam nesciunt, vel voluptatibus ullam placeat numquam enim! Quo qui nemo
        temporibus!
    </p>
</div>
</main>
</div>