<h1>MOVIES</h1>

<ul>
    {{#each movies}}
        <li>
            Movie title: {{title}} <br>
            Movie year: {{year}} <br>
            Movie director: {{director}} <br>
        </li>
    {{/each}}
</ul>
