<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolorum expedita illo maxime necessitatibus optio possimus quod sed tenetur veniam. Aliquam aliquid aperiam ducimus eveniet fuga harum magni, nisi quam.</p>
</body>
</html>