{% load filters %}
{% load tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% display_nav 'index' 'redirect_home' %}

   {% block page_content %}

   {% endblock %}
    <h1>{{ title }}</h1>
    <p>Random Value: {{ random_value }}</p>
    <p>City: {{ town.town_name }}</p>
    <p>Message: {{ greet }}</p>
    <p>{{ name|upper }}, name length: {{ name|length }}</p>

    <section>
        {% if hobbies %}
            <p>{{ hobbies|join:', ' }}</p>
        {% else %}
            <p>No hobbies added.</p>
        {% endif %}
    </section>

    <ul>
        {% for hobby in hobbies %}
            <li>{{ hobby }}</li>
        {% empty %}
            <p>No hobbies added.</p>
        {% endfor %}
    </ul>

    {% block content %}

    {% endblock %}

    <p>Odd grades are: {{ grades|odd }}</p>
    <p>Even grades are: {{ grades|even }}</p>
    <p>Date: {{ now|format_dates }}</p>
    <p>Student intro: {% student_intro name age %}</p>

</body>
</html>